*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #FAFAFA;
  --form-color: #FFFFFF;
  --bg-btn: #0095F6;
}
  
body{
  width:100%;
  height:100vh;
  background-color: var(--bg-color);
}

input{
  appearance: none;
  border: 1px solid grey;
  outline: none;
}

main{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  padding: 2rem 0;

}
